html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	height: 100%;
	font-family: arial,sans-serif;
	overflow: auto;
}

.i-search {
	margin: 0 auto;
	margin-top: 10%;
}

.i-logo {
	width: 300px;
	margin: 0 auto;
}

.i-logo-img {
	background: url("./logo11w.png") no-repeat;
	background-size: 300px 105px;
	position: relative;
	margin: 0 auto;
	width: 300px;
	height: 105px;
}

.alias {
	position: relative;
	color: #777;
	font-size: 20px;
	left: 256px;
	top: -25px;
	font-weight: bold;
}

.i-search-bar {
	margin: 15px;
	text-align: center;
}

.i-q {
	width: 100%;
	height: 29px;
	padding: 4px 6px 2px 4px;
	border: 1px solid #b9b9b9;
	font: -webkit-small-control;
	box-sizing: border-box;
	font-size: 17px;
	min-width: 230px;
	max-width: 600px;
}

.i-q:hover {
	border-color: #a3a3a3;
}

.i-q:focus {
	border-color: #5f8be8;
}

.i-search-bu {
	border: none;
    font-family: "Microsoft YaHei", "微软雅黑";
	border-radius: 2px;
	background-color: #4d90fe;
    font-size: 1.05em;
    padding: .2em 1.1em 1.5em 1.1em;
    margin: 0 15px 0 15px;
    color: #FFF;
	height: 27px;
	cursor: pointer;
}
.s-search-bu{
    background: url("./search.png") no-repeat center center;
    margin-left: 10px;
    border: none;
    border-radius: 2px;
    background-color: #4d90fe;
    height: 27px;
    width: 60px;
    display: inline-block;
    vertical-align: top;
}

/*result page*/
.s-logo {
	margin-top: 20px;
	margin-left: 15px;
	width: 110px;
	display: inline-block;
	vertical-align: middle;
}

.s-logo-img {
	width: 110px;
}

.s-top-bar {
	width: 100%;
	overflow: auto;
	background: #f1f1f1;
	border-bottom: 1px #e5e5e5 solid;
}

.s-logo-alias {
	position: relative;
	top: -12px;
	left: 90px;
	color: #777;
	font-size: .7em;
}

.s-q {
	width: 530px;
	font-size: 28px;
	height: 27px;
	padding: 0 0 0 6px ;
	border: 1px solid #b9b9b9;
	font: 17px arial,sans-serif;
	box-sizing: border-box;
	line-height: 1.25em !important;
}

.s-q:hover {
	border-color: #a3a3a3;
}

.s-q:focus {
	border-color: #5f8be8;
}

.s-search-bar {
	margin-top: 20px;
	margin-left: 16px;
	display: inline-block;
}

.search-res {
	position: relative;
	top: 20px;
	width: 540px;
	margin-left: 145px;
}

.search-res ul {
	padding: 0;
}

.search-tool-bar {
	position: relative;
	height: 40px;
	width: 100%;
	border-bottom: 1px #e5e5e5 solid;
    background: #fff;
}

em {
	color: #dd4b39;
	font-style: normal;
}

.s-box {
	display: block;
	margin-bottom: 20px;
}

.s-title {
	font-size: 1.2em;
}

.s-title:hover {
	text-decoration: underline;
}
.s-disc {
	line-height: 1.4;
	word-wrap: break-word;
	color: #545454;
	font-size: small;
}

.s-title-link {
	color: #006621;
	font-style: normal;
	font-size: 13px;
	display: block;
	margin-top: -2px;
}

a:link {
	color: #1a0dab;
	text-decoration: none;
}

a:visited {
	color: #609;
}

.f {
	color: #808080;
}
/*pages bar*/
.navcnt{
    width: 100%;
    height: 55px;
}
.nav-t{
    margin: 25px auto 0 auto;
}
.nav-a{
    display: block;
    color: #1a0dab;
    font-size: .8em;
}
.nav-a:visited{
    color: #1a0dab;
}
.s-prev{
    width: 74px;
    height: 55px;
}
.t-prev{
    float: left;
}
.t-prev:hover, .t-next:hover{
    text-decoration: underline;
}
.t-next{
    text-decoration: none;
    float: right;
}
.s-next{
    width: 88px;
    height: 55px
}
.nav-n{
    margin-left: -4px;
    text-align: center;
    display: block;
    width: 20px;
}
.nav-n:hover{
    text-decoration: underline;
}
.csb{
    background: url("./nav_logo195.png") no-repeat left;
    height: 40px;
    display: block;
    margin-left: -4px;
    text-align: center;
}
.c-g{
    background-position: 0 0;
    width: 52px;
    margin-left: 0;
    float: right;
}
.c-o1{
    background-position: -52px 0;
    width: 22px;
}
.c-o2{
    background-position: -74px 0;
    width: 22px;
}
.c-gle{
    background-position: -96px 0;
    width: 70px;
    display: block;
}
.tool-box{
    position: relative;
    margin: 12px 0 0 145px;
    width: 445px;
    display: inline-block;
}
.search-info{
    line-height: 2.8em;
    color: #808080;
    font-size: .95em;
}
.no-sel{
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.tool-btn-b{
    cursor: pointer;
    color: #777;
    margin-top: 4px;
    display: inline-block;
}
.tool-btn{
    padding: 8px 8px 5px 8px;
}
.tool-btn:hover{
    border: 1px solid #c6c6c6;
    padding: 7px 8px 6px 7px;
    border-radius: 2px ;
    background: #f1f1f1;
}
.tool-btn-press{
    padding: 7px 8px 6px 7px;
    box-shadow: inset 0 1px 2px 0 rgba(0,0,0,0.1);
    background: -webkit-linear-gradient(top,#eee,#e0e0e0);
    border: 1px solid #d7d7d7;
    border-radius: 2px ;
}
#tool-panel{
    margin-top: 9px;
    display: none;
}
.left-tool-box{

}
.tf{
    min-height: 100%; height: auto; margin-left: 145px; width: 450px;float: left;
}
.tool{
    font-size: .95em;
    color:#777;
    display: inline-block;
    height: 20px;
    padding: 0 0 0 25px;
    cursor: pointer;
}
.tool:hover{
    color:#333;
}
.tool-time{
    position: relative;
    left: -25px;
    margin-right: -25px;
}
.dwn-tri{
    font-size: .7em;
    display: inline;
    margin: -2px 0 0 2px;
}
.tool-al{
    position: absolute;
    background: #ffffff;
    min-width: 95px;
    margin: -8px 0 0 -30px;
    z-index: 6;
    border: 1px solid #d9d9d9;
    padding: 5px 0 5px 0;
    color:#777;
}
.opt{
    padding: 5px 0 5px 15px;
    margin: 2px 0 2px 0;
}
.opt:hover{
    background: #D9D9D9;
}
.t-l, .t-l:link, .t-l:visited{
    color: #777;
}
.t-l:active{
    color: #de3937;
}
.med {
    color: gray;
    font-style: normal;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
}
._e4b {
    margin: 0;
    white-space:nowrap;
    padding-top: 5px;
    min-width: 120px;
}
._e4b:hover{
    text-decoration: underline;
}
.row{
    display: inline-block;
    width: auto;
    max-width: 280px;
    overflow: hidden;
    margin-right: 20px;
}
#clear{
    letter-spacing: 2px;
    color: #db4823;
    padding: 8px 9px 5px 8px;
    list-style: none;
    float: right;
    margin: -6px 10px 0 0;
}
#clear:hover{
    border: 1px solid #c6c6c6;
    padding: 7px 8px 5px 8px;
    border-radius: 2px ;
    background: #f1f1f1;
}
.fbar{
    bottom: 0;left: 0; right: 0;height: 40px;background: #F2F2F2;margin-top: 56px;border-top: 1px solid #E4E4E4;
}
.fa{
    display: inline-block;
    margin-right: 50px;
}
.fa:link, .fa:visited{
    color: #777;
}
.fa:hover{
    color: #444;
}
.fb{
    line-height: 40px; margin-left: 145px;
}
.loading{
    height: 100%;
}
.loading .cont{
    display: none;
}
.loading-mes{
    font-size: 2em;text-align: center; color: #CCC; line-height: 16em; height: 100%;
}
ul{
    margin: 0;
    padding: 0;
}
@media screen and (max-width: 780px){
	.s-logo {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.s-top-bar {
		text-align: center;
	}

	.s-logo {
		text-align: left;
	}

	.s-search-bar {
		width: 95%;
		margin: 0;
		margin-bottom: 10px;
	}

	.s-q {
		width: 72%;
		max-width: 400px;
	}

	.search-res {
		width: 85%;
		margin: 0 auto;
		max-width: 580px;
	}
    .s-prev{
        width: 40px;
        height: 55px;
    }
    .s-next{
        width: 50px;
        height: 55px
    }
    .nav-t{
        margin: 25px auto 0 -14px;
    }
    .tf{
        margin-left: 0; font-size: .9em; width: auto;
    }
    .fb{
        margin-left: 15px;
    }
}